main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

h1, p{
  color: orangered;
}

main p{
  background-color: gainsboro;
}

li{
  list-style: none;
  
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

footer{
  border: thin solid black;
}
